$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);

$font-family-base: 'Roboto Mono', monospace;

$border-radius: 0 !default;
$border-radius-lg: 0;
$border-radius-sm: 0;