<template>
  <div class="wrapper">
    <header class="d-none">
      <b-navbar toggleable="lg" type="dark" variant="dark" fixed="top">
        <b-navbar-brand href="#">
          <svg
            width="36"
            height="36"
            viewBox="0 0 612 612"
            xmlns="http://www.w3.org/2000/svg"
            focusable="false"
            fill="#fff"
            class="d-block"
          ><path d="M510,8 C561.846401,8.16468012 603.83532,50.1535995 604,102 L604,510 C603.83532,561.846401 561.846401,603.83532 510,604 L102,604 C50.1535995,603.83532 8.16468012,561.846401 8,510 L8,102 C8.16468012,50.1535995 50.1535995,8.16468012 102,8 L510,8 L510,8 Z M510,0 L102,0 C45.9,6.21724894e-15 0,45.9 0,102 L0,510 C0,566.1 45.9,612 102,612 L510,612 C566.1,612 612,566.1 612,510 L612,102 C612,45.9 566.1,6.21724894e-15 510,0 Z" fill-rule="nonzero" /> <text id="BV" font-family="Arial" font-size="350" font-weight="light" letter-spacing="2"><tspan x="72.0527344" y="446">D</tspan> <tspan x="307.5" y="446">S</tspan></text></svg>
        </b-navbar-brand>

        <b-navbar-toggle target="nav_collapse" />

        <b-collapse id="nav_collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item v-b-tooltip.hover href="https://codepen.com/danbhala" target="_blank" title="CodePen">
              <fa :icon="['fab', 'codepen']" class="text-white" />
              <span class="sr-only">CodePen</span>
            </b-nav-item>
            <b-nav-item v-b-tooltip.hover href="https://github.com/danbhala" target="_blank" title="GitHub">
              <fa :icon="['fab', 'github']" class="text-white" />
              <span class="sr-only">GitHub</span>
            </b-nav-item>
            <b-nav-item v-b-tooltip.hover href="https://gitlab.com/danbhala" target="_blank" title="GitLab">
              <fa :icon="['fab', 'gitlab']" class="text-white" />
              <span class="sr-only">GitLab</span>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </header>
    <main>
      <nuxt />
    </main>
  </div>
</template>

<script>
import '~/assets/scss/main.scss'

export default {}
</script>


<style lang="scss" scoped>
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  //padding-top: 62px;
  flex: 1;
}
</style>
