<template>
  <section>
    <div class="container-fluid">
      <h1 v-if="content.title">
        {{ content.title }}
      </h1>
      <p v-if="content.subTitle">
        {{ content.subTitle }}
      </p>
      <div v-if="content.links" class="links">
        <b-button
          v-for="(link, index) in content.links"
          :key="index"
          :variant="btnVariants[index]"
          :href="link.fields.url"
          target="_blank"
        >
          <fa :icon="[link.fields.title === 'Day Job' ? 'fas' : 'fab', link.fields.title === 'Day Job' ? 'user-ninja' : link.fields.title.toLowerCase()]" class="fa-4x text-white" />
          <span>
            {{ link.fields.title }}
          </span>
        </b-button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return { btnVariants: ['primary', 'info', 'warning', 'success', 'danger'] }
  },
  computed: {
    content() {
      return this.$store.state.home.content
    }
  },
  async fetch({ store, params }) {
    await store.dispatch('home/getContent', params.slug)
  }
}
</script>

<style lang="scss" scoped>
@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';

section {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
}
h1 {
  font-size: 2.5rem;
  margin: 0;
  @include media-breakpoint-up(sm) {
    font-size: 5rem;
  }
}
p {
  font-size: 1.25rem;
  margin: 0 0 1.5rem;
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
}
.btn {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-content: center;
  width: 45%;
  margin: 0 auto 0.5rem;
  @include media-breakpoint-up(sm) {
    display: inline-flex;
    width: auto;
  }

  svg {
    fill: white;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    @include media-breakpoint-up(sm) {
      width: 4rem;
      height: 4rem;
    }
  }
}
</style>
